.user-bio {
    background-image: url("background_2.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    border-radius: 25px;
    width: 100%;
    max-width: 650px;
    height: auto;
    padding: 20px;
    box-sizing: border-box;

    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
    margin-top: 20px;
}

.user-photo {
    width: 80px;
    height: 80px;
    flex-shrink: 0;

    margin-left: 12px;
    border-radius: 100%;

    transition: all 0.3s ease-in-out;
}

.user-photo:hover {
    transform: scale(1.35);
}


.user-photo-file {
    height: 100%;
    border-radius: 100%;

    box-shadow: 0 2px 50px rgb(163 66 221 / 0.58);
}

.bio {
    background-image: url("background_main.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    border-radius: 50px;
    height: 85%;
    width: 50%;
    box-shadow: 0 0 100px rgba(112 , 171 , 95 , 0.67);

    justify-content: center;
    align-content: center;
    max-width: 70%;

    transition: all 0.3s ease-in-out;
    user-select: text;
}

.bio:hover {
    transform: scale(1.1)
}

.Bio-text {
    font-family: "Bebas Neue", sans-serif;
    font-size: 30px;
    font-weight: 400;
    color: rgba(242, 242, 18, 0.65);
    width: 85%;
    margin-left: 3%;
}

.user-music-stats {
    background-image: url("background_2.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    border-radius: 25px;
    width: 650px;
    height: 44vh;
    display: flex;
    align-items: center;
    gap: 20px;
}

.basic-stats {
    width: 35%;
    height: 95%;
    background-color: white;
    border-radius: 25px;
    margin-left: 15px;
}

.graphic-stats {
    background-color: grey;
    width: 62%;
    height: 95%;
    border-radius: 25px;
    margin-right: 8px;
}

